.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 15px; /* Используем 1/2 размера loaderSize */
  height: 15px; /* Используем 1/2 размера loaderSize */
  border: 2px solid transparent;
  border-left-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
