:root {
  --font-family: consolas, "Roboto";
  --font-size-m: 16px;
  --font-height-m: 24px;
  --font-m: var(--font-size-m) / var(--font-height-m) var(--font-family);
  --font-size-l: 24px;
  --font-height-l: 32px;
  --font-l: var(--font-size-l) / var(--font-height-l) var(--font-family);
  --sidebar-width-collapsed: 80px;

  // sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;

  // z-index
  --modal-z-index: 10;

  // colors
  --owerlay-color: rgba(0 0 0 / 60%);
}
