.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--primary-color);
}

.label {
  font: var(--font-xs);
  color: var(--primary-color);
}

.error {
  .title,
  .label,
  .text {
    color: var(--red-light);
  }
}
