{
  "endOfLine": "auto",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "vueIndentScriptAndStyle": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "importOrder": [
    "^(react)(/(.*))?$",
    "^(next)(/(.*))?$",
    "<THIRD_PARTY_MODULES>",
    "^/main/(.*)$",
    "^/process/(.*)$",
    "^/pages/(.*)$",
    "^/screens/(.*)$",
    "^/widgets/(.*)$",
    "^/features/(.*)$",
    "^/entities/(.*)$",
    "^/shared/(.*)$",
    "^/pages/(.*)$",
    "^/types/(.*)$",
    "^/images/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
