.app.dark {
  --bg-color: #1e1e1e;
  --inverted-bg-color: #f4f4f4;
  --primary-color: #fff;
  --secondary-color: #bb86fc;
  --inverted-primary-color: #1e1e1e;
  --inverted-secondary-color: #420098;
}
