.app.dark {
  --bg-color: #1E1E1E;
  --inverted-bg-color: #f4f4f4;

  --primary-color: #ffffff;
  --secondary-color: #BB86FC;

  --inverted-primary-color: #1E1E1E;
  --inverted-secondary-color: #420098;
}