.app_dark_theme {
  --bg-color: #1e1e1e;
  --bg-color-secondary: #181818;
  --inverted-bg-color: #f4f4f4;
  --primary-color: #fff;
  --secondary-color: #400055;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #420098;
  --white-color: #fff;
}
