:root {
  --bg-color: #f4f4f4;
  --bg-color-secondary: #ebebeb;
  --inverted-bg-color: #1e1e1e;
  --primary-color: #1e1e1e;
  --secondary-color: #903cff;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #bb86fc;
  --white-color: #fff;
  --gray-color: #999;
  --gray-light-color: #d0d0d0;
}
