.select {
  outline: none;
  color: var(--primary-color);
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  min-width: 166px;
  padding: 0 12px;
  min-height: 35px;
  border: 1px solid transparent;
}

.select__wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.select__label {
  margin-bottom: 3px;
}

.fullWidth {
  width: 100%;
}

.readonly {
  .select {
    pointer-events: none;
    opacity: 0.7;
  }
}
