.navbar {
  padding: 0 10px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}

.logo {
  color: var(--inverted-primary-color);
}