.appLink {
  text-decoration: underline;
  cursor: pointer;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.light {
  color: var(--inverted-primary-color);
}
