.appLink {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.light {
  color: var(--inverted-primary-color);
}
